header{
    height: 300px;
    background-color: #bfed97;
    border-radius: 10px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;
  }
  main{
    min-height: 600px;
    background-color: #999999;
    border-radius: 10px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;
  }
  nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
  }
